@use '../mixins/pseudo.scss' as *;

.starmove {
  width: 184px;
  height: 31px;
  border: 1px solid #545454;
  display: inline-block;
  border-radius: 6px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #0ca192;
  margin-bottom: 20px;
}

.table {
  width: 278px;
  width: 278px;
  border: 7px solid #0ca192;
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(3, 88px);
  grid-template-rows: repeat(3, 88px);
  margin-bottom: 50px;
  margin-inline: auto;
}

.button {
  width: 88px;
  height: 88px;
  border: 5px solid #0ca192;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross {
  position: relative;

  &::before {
    @include pseudo(70px, 8px) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      background-color: #545454;
    }
  }

  &::after {
    @include pseudo(8px, 70px) {
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: #545454;
    }
  }
}

.circle {
  position: relative;
  &::before {
    @include pseudo(52px, 52px) {
      border: 7px solid #f2ebd3;
      border-radius: 50%;
      padding: 20px;
    }
  }
}

.scoreboard {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 33px;

  &--container {
    width: 108px;
    height: 33px;
    border-radius: 8px;
    background-color: #7ed2c9;
    border: 1px solid #5454548e;
  }
  &--img {
    width: 17px;
    height: 17px;
  }

  &--span {
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &--score {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #0ca192;
  }
}

.restart {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
}
