.title {
  text-align: center;
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 4.25rem;
  letter-spacing: 1%;
  color: #545454;

  &__container {
    padding-top: 1.875rem;
  }
}
